{% extends 'portfolio/base.html' %}
{% block content %}

<div class="container my-5">
    <h1 class="text-center fw-bold mb-4">Blog Page</h1>
    <h4 class="text-center text-muted mb-5">Hryhorii has written {{ blogs.count }} blog{{ pluaralize }}</h4>

    {% for blog in blogs %}
    <div class="card mb-4 shadow-sm border-0">
        <div class="card-body">
            <a href="{% url 'blog:detail' blog.id %}" class="text-decoration-none text-dark">
                <h3 class="card-title">{{ blog.title }}</h3>
            </a>
            <h6 class="text-muted">{{ blog.date|date:'M d Y'|upper }}</h6>
            <p class="card-text">{{ blog.description|striptags|truncatechars:150 }}</p>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
